@import "./styles/transition";



:root {
  --color: #243746;
  --color-primary: #158876;
  --color-secondary: #0e2233;
  // --bg: #f3f5f4;
  --bg: #f7f8f8;
  --bg-secondary: #fff;
  --border-color: #ddd;
}

.dark-mode {
  --color: #ebf4f1;
  --color-primary: #41b38a;
  --color-secondary: #fdf9f3;
  --bg: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;
}
.sepia-mode {
  --color: #433422;
  --color-secondary: #504231;
  --bg: #f1e7d0;
  --bg-secondary: #eae0c9;
  --border-color: #ded0bf;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--bg);
  // background-color: #f7f8f8;
  color: var(--color);
  transition: background-color 0.3s;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.wrapper {
  width: 100%;
  max-width: 1025px;
  margin: 0 auto;

  padding: 0 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  margin: 20px 0;

  &__logo {
    font-size: 28px;
  }

  &__nav {}

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
  }
}

.home-page {
  padding-bottom: 25px;
}



.theme-switch {
  cursor: pointer;
  position: relative;
margin-left: 10px;
// width: 40px;
// animation-delay: .1s;

  // svg {

  // }
}



.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #E4E7ED;
  padding-top: 25px;
  margin-top: 60px;

  &__info {
    &-title {
      font-weight: 600;
      font-size: 16px;
      color: #6d6d6d;
      margin: 0;
    }

    &-subtitle {
      margin-top: 10px;
      font-size: 14px;
      color: #959595;
      line-height: 24px;
      margin-bottom: 0;
    }
  }

  &__social {

    &-list {
      list-style: none;
      display: flex;
      gap: 20px;
      margin: 0;
      padding: 0;
    }

    #telegram:hover path {
      fill: #36aee2;
    }

    #github:hover path {
      fill: #000;
    }  

    #email:hover path {
      fill: #5145ff;
    }

    #youtube:hover circle {
      fill: #fe0000;
    }

    svg circle,
    svg path {
      transition: fill .25s ease-in-out;
    }
  }
}